:root {
  --primary-font: "Poppins", sans-serif;
  --name-font: "Inspiration", cursive;
}

body {
  background: #2f493c;
  font-family: var(--primary-font);
}

h1 {
  font-size: 50px;
  color: blue;
  font-family: var(--name-font);
}

header {
  background-image: url(../images/herowildrocket.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 3px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(39, 32, 68, 1);
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  padding: 16px 32px 16px 32px;
  margin-top: 32px;
  display: inline-block;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(47, 47, 73, 0.6),
      rgba(47, 47, 73, 0.6)
    ),
    url(../images/coffebeans.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: rgba(255, 255, 255, 1);
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background-color: #f8f8f8;
}

main {
  background-color: white;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0%;
}

main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 2fr 2fr;
}

.img-responsive {
  max-width: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.embed-maps {
  padding-top: 20px;
}

@media (max-width: 900px) {
  header {
    padding: 100px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    padding: 8px 21px 8px 21px;
    font-size: 10px;
  }
  footer h3 {
    font-size: 15px;
    line-height: 15px;
  }
  footer p {
    font-size: 12px;
    line-height: 24px;
  }
  section {
    padding: 30px;
  }
  .grid {
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
}
